table
{
  border: 1px solid;
  border-collapse: collapse;
}

th
{
  background-color: lightgray;
}

th, td
{
  border: 1px solid;
  text-align: center;
  padding: 5px;
}

code
{
  display: block;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
  text-align: left;
}