body
{
}

#editor_label
{
    margin-right: 20px;
}

#editor
{
    display: block;
    margin-top: 5px;
}

#commandBar
{
    margin-top: 10px;
    margin-bottom: 20px;
}

#runBtn
{
    margin-right: 2px;
    margin-left: 2px;
}

#stopBtn
{
    margin-right: 2px;
    margin-left: 2px;
}

#statusBar
{
    display: inline;
    margin-left: 15px;
}

#consol_label
{
    display: block;
}

#consol
{
    display: block;
    margin-top: 5px;
}
