#menu-frame
{
  float: left;
  width: 185px;
  height: 100%;
}

#runOnOpenToggle
{
  margin-top: 10px;
  margin-bottom: 20px;
}

#menu
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#docview-frame
{
  margin-left: 185px;
  height: 100%;
}

#docview
{
  width: 100%;
  height: 100%;
}