#description
{

}

#usage
{
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  padding: 15px;
  margin: 10px;
  border-radius: 0px;
  background-color: lightgray;
}