.debugSubDiv
{
  margin-top: 20px;
  margin-left: 6px;
  margin-right: 10px;
}

.debugVarList
{
  background: white;
  color: black;
  border: solid 1px;
  padding: 1px;
  width: 100%;
  height: 160px;
  overflow: scroll;
  margin: 0;
  resize: vertical;
}

.debugVarList li
{
  list-style-type: none;
  font-family: monospace;
  white-space: nowrap;
}

.debugVarListItem-expanded::before
{
  content: "\25BE";
}

.debugVarListItem-collapsed::before
{
  content: "\25B8";
}

#debugDiv
{
  height: 100%;
  width: 275px;
  min-width: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(231, 241, 241);
  overflow-x: hidden;
  display: none;
}

#debugResizer
{
  width: 4px;
  height: 100%;
  padding: 0;
  cursor: ew-resize;
  display: block;
  background: lightsteelblue;
  float: right;
}

#debugWrapper
{
  display: block;
  margin-left: 4px;
  margin-right: 8px;
}

#debugCallStackList
{
  padding: 1px;
  width: 100%;
  border: solid 1px;
  overflow: scroll;
  resize: vertical;
  font-family: monospace;
  white-space: nowrap;
}