button
{
  margin-right: 3px;
  margin-left: 3px;
}

#editorDiv
{
  display: block;
}

#menuBar
{
  margin-top: 10px;
  margin-bottom: 20px;
}

#editorLabel
{
  display: block;
}

#progEditor
{
  display: block;
  margin-top: 5px;
}

#uiDiv
{
  display: block;
}

#commandBar
{
  margin-top: 10px;
  margin-bottom: 20px;
}

#statusBar
{
  display: inline;
  margin-left: 15px;
}

#consoleLabel
{
  display: block;
}

#progConsole
{
  display: block;
  margin-top: 5px;
}
