button
{
  margin-right: 2px;
  margin-left: 2px;
  text-shadow: 1px 1px white;
}

.bar
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  background-color: #ccccff;
  box-shadow: 1px 1px gray;
}

.bar-seperator
{
  display: inline;
  border-left: 1px solid gray;
  border-right: 1px solid white;
  margin-left: 8px;
  margin-right: 8px;
}

.toggle-open
{
  text-shadow: 1px 1px lightgray;
  cursor: pointer;
  user-select: none;
}

.toggle-open::after
{
  content: "\25BC";
  color: black;
  display: inline-block;
  margin-left: 6px;
}

.toggle-closed::after
{
  transform: rotate(-90deg);
}

.pane-open
{
  display: block;
}

.pane-closed
{
  display: none;
}

#menuBar
{
  margin-bottom: 15px;
}

#progEditor
{
  display: block;
  margin-top: 5px;
  width: 100%;
}

#commandBar
{
  margin-top: 10px;
  margin-bottom: 20px;
}

#statusBar
{
  display: inline;
  margin-left: 2px;
}

#consoleOutput
{
  display: block;
  margin-top: 5px;
  width: 100%;
}

#consoleInputDiv
{
  display: none;
  margin-top: 5px;
  width: 100%;
}

#consoleDiv
{
  margin-bottom: 20px;
}

#progCanvas
{
  border: 1px solid black;
  margin-top: 5px;
  touch-action: none;
}

#version
{
  margin-top: 30px;
}
